.logo-accent {
    color: $accent-color;
}
.logo {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #000000;
    font-family: $logo-text;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}