.section {
    padding-top: 94px;
}
.section2 {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section3 {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.section-title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}